.draggable {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: move;
  position: relative;
}

.placeholder {
  opacity: 0;
}

.pointer-box {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.1);
  border: 2px dashed #00f;
}
